{% extends "site_template.html" %}
{% comment %} https://bootsnipp.com/snippets/z8699 {% endcomment %}

{% block head_libraries %}<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
{% endblock %}

{% block title %} Twitter {% endblock %}

{% block content %}
<center>
<div class="card border-primary mb-3" style="max-width: 30rem;">
  <div class="card-header">Notificación</div>
  <div class="card-body">
    <h4 class="card-title">De: {{ user_name }}</h4>
    <p class="card-text">
    <p>A continuación verás el último mensaje que tienes en tu buzón, el que lo envió el id {{ sender_id }}: </p>
        <br>
        <br>
    <p>{{ message_text }}</p>
    </div>
</div>
</center>
    {% endblock %}